<html>
    <head></head>

    <body>
        <h2>Add Trip</h2>
        
        <form method="POST" action="/add-trip">
            <input type="text" placeHolder="Enter Title" name="title" />
            <input type="text" placeHolder="Enter Date of Departure" name="departureDate" />
            <input type="text" placeHolder="Enter Date of Return" name="returnDate" />
            <input type="text" placeHolder="Type Image URL" name="image" />
            
            <button>Add</button>
        </form>
    </body>

</html>